body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

/* -- Base Styles -- */

.page-heading h1{
  margin: 50px;
  text-align: center;
  font-weight: 100
}

.wrapper {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
}

.flex-container {
    background: #fff;
    display: flex;
    flex-wrap: wrap;
}

.movie-box {
    height: 150px;
    flex: 1 0 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 15px;
}
